<h2>Por Capital</h2>
<hr />
<div class="row">
  <div class="col">
    <!--
        Para escuchar cuando ocurre un evento se utiliza parentesis,
        de ahi se puede llamar una funcion para enviar un valor a una
        variable del componente:
        [] = si se envia una variable y nada para enviar un string sencillo
-->
    <app-pais-input
      (onEnter)="search($event)"
      (onDebounce)="search($event)"
      [initialValue]="initialTerm"
      [searchPlaceholder]="'Buscar Por Capital...'"
    ></app-pais-input>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <app-loader-spiner *ngIf="isLoading"></app-loader-spiner>
    <app-pais-table *ngIf="!isLoading" [paises]="countries" [termino]="term"></app-pais-table>
  </div>
</div>
