<h2>Buscar Por Region <small>{{regionActiva | titlecase }}</small> </h2>
<hr>

<h5>Seleccione Region</h5>

<div class="row">
    <div class="col">
        <!-- [ngClass]="{
            'btn-outline-primary': regionActiva !== region,
            'btn-primary': regionActiva == region
        }" -->
        <!-- [class]="(regionActiva == region) ? 'btn btn-primary': 'btn-outline-primary'" -->
        <button *ngFor="let region of regiones" 
                [class]="getBtnClass( region ) + ' mx-2 '" 
                (click)="buscarPorRegion( region )">
                {{region}}
        </button>
        <!-- <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholderPais="Buscar Por Region..."
       ></app-pais-input> -->
    </div>
</div>
<hr>

<div class="row">
    <div class="col" *ngIf="paises.length > 0">
        <app-pais-table [paises]="paises" [termino]="regionActiva"></app-pais-table>
    </div>
</div>